body{
 font-family: 'Montserrat', sans-serif;
 /* установили шрифт для боди */
 background-color:white;
}

.container{
  width: 1160px;  
  margin: 0 auto;
}

.top_menu_page{
    background-image: url(../img/Sections-background/section_top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
    min-height: 1012px;

}

.paralax{
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;

}

        

.header{
    background-color:rgba(94, 93, 88, 0.6);
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: white;
    display: flex;
    font-size: 32px;
    align-items: center;
   
}

.logo_color_block{
    text-transform: uppercase;
    padding: 20px 16px;
    font-weight: 700;
    font-size: 40px;
    background-color: #18CFAB;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 50% 100%, 0 75%, 0 25%);
    margin-right: 6px;
    
}
.logo_color_text{
    color: #18CFAB;
    font-weight: 700;

}

.header_menu {
}

.header_menu_list {
    display: flex;
    margin: 0;

}

.header_menu_item {
    margin-right: 27px;
}

.header_menu_link {
border-bottom: 2px solid transparent;
display: inline-block;
color: rgba(255, 255, 255, 0.6);
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
padding: 47px 0;
}

.header_menu_link:hover{
    border-bottom: 2px solid #18CFAB;
    color: #18CFAB;
}

.top_menu{
    color: azure;
    text-align: center;
}

.top_content_title{
    margin-top: 264px;
    color: #18CFAB;
   }

   .start_content_text{
    color: #FFFFFF;
   }

.big_content_title{
    font-weight: 700;
    font-size: 78px;
    color: #FFFFFF;
    margin-top: 45px;
    margin-bottom: 37px;
}

.bottom_content_title{
    padding-top: 0px;
    padding-bottom: 134px;
    color:#D4D4D4;
    font-weight: 400;
    font-size: 34px;
}

.wrapper_butons{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button{
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    background-color: aqua;
    color: white;
    padding: 16px 24px;
    border-radius: 5px;
    box-shadow: 0 -4px 0 0 rgb(255 255 255);
    
}
.button_right{
  
    margin-left: 26px;
    background-color: #00CBF6;
    }

.section_services_link{
    text-align: center;
    color: #FFFFFF;
    /* padding: 53px; */
}

.section_services_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0;    
}

.section_services_item{
    
    display: flex;
    height: 377px;
    /* padding: 99px 0; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #18cfab;
    color: #FFFFFF;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 110px;
    box-sizing: border-box;
}

.section_services_item:nth-child(2n-1){
    
    color: #18cfab;
    background-color: #1c2a33;
    
}

 .services_img {
 
}

.section_services_text{
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;    
}
.image_work_links{
    flex-wrap: wrap;
    display: flex;
}

ul {
    list-style: none;
    padding-left: 0;
  }

  .section_services_content {
    
  }

  .title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 36px;
    padding: 80px 0 40px;
    color: #4e4e4e;
  }

  .title::after{
    content:"";
    width: 40px;
    height: 1px;
    background: #18CFAB;
    position: relative;
    left: 17px;
    bottom: -14px;
}
    
    .title::before{
    content:"";
    width: 40px;
    height: 1px;
    background: #18CFAB;
    position: relative;
    top: 60px;
    left: 30px;
   }

    .section_services_direction{
    padding-bottom: 50px;
    }

   .services_direction_list{
    display: flex;
    margin: 70px 0 28px;
   }

  
   /* Our Services */

   .services_direction_tabs.active {
    position: relative;
    background: #18CFAB;
    }

    .services_direction_tabs.active::after {
        content: "";
        background-image: url("/img/Rectangle\ 60.svg");
        color:#18CFAB; 
        width: 27px;
        height: 15px;
        bottom: -14px;
        left: 73px;
        position: absolute;    
      }

   .services_direction_tabs {
    flex: auto 1 ;
    flex-direction: column;
    padding: 27px 35px 30px;
    border: 1px solid #eeeeef;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    background-color: #f8fcfe;
    cursor: pointer;
   }
   
   .services_item_content {
    display: none;
   }
   
   .services_item_content.active {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
   }
   
   .services_item_content {
    font-size: 14px;
    font-weight: 300;
    color: #777;
    line-height: 24.39px;
   }
   
   .service_item_img {
    width: 194px;
    height: 139px;
    margin-right: 20px;
   }
   /* ................................section purchase */
   
   .section_purchase_main{
    display: flex;
    align-items: center;
    }

    .section_purchase {
    background-image: url(../img/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
    min-height: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 125px 0;
    }

    .section_purchase_title{
    font-weight: 700;
    font-size: 40px;
    color: #18CFAB;
    display: flex;
    justify-content:space-around;
    padding-top: 130px;
    text-transform: uppercase;
    margin: 0 ;
    padding-bottom: 26px;
    }

    .bottom_purchase_title {
    justify-content: space-around;
    display: flex;
    color: #D4D4D4;
    font-weight: 400;
    font-size: 34px;
    padding-bottom: 65px;
    }

    .button_purchase {
    background-color: #00CBF6;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    background-color: aqua;
    color: white;
    padding: 16px 24px;
    border-radius: 5px;
    box-shadow: 0 -4px 0 0 rgb(255 255 255);
    }
      /* ,,,,,,,,,,,,,WORK SECTION,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
    */
    .work_services_direction{
    padding-bottom: 50px;
    }

    .work_direction_list{
    display: flex;
    justify-content: center;
    }

    .work_direction_tabs.active {
    position: relative;
    background: #18CFAB;   
    }
    
    .work_direction_tabs {
    
    flex-direction: column;
    padding: 27px 35px 30px;
    border: 1px solid #eeeeef;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    background-color: #f8fcfe;
    cursor: pointer;
    }

    .work_image_links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    }

    .work_item_img{
        height: 211px ;
        width: 280px ;

    }
    .button_load_item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 75px;
    }

    .work_link svg{
        fill: #18CFAB;   
    }
    

    .work_hover_block{
        text-align: center;
        padding-top: 40px;
        border-top: 3px solid #18CFAB;
        display: none;
        box-sizing: border-box;
        

    }
    .work_gallery_item{
     width: 285px;
     height: 211px;
     box-sizing: border-box; 
    }
    .work_gallery_item:hover img {
        display: none;

    }
    .work_gallery_item:hover .work_hover_block {
        display: block;

    }

    .work_link{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #18CFAB;
    }
    .work_link_left{
        margin-right: 3px;
    }
    .work_link_wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .work_link:hover{
        background-color: #18CFAB;
    }
    .work_link:hover>svg{
     fill:white;  
     /* змина колора для свж */
    }
    .work_title{
        font-weight: 700;
        font-size: 14px;
        color: #18CFAB;
    } 
    /* .....................breaking news................. */

    
      
    .breaking_news_section{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-top: 70px;
     padding-bottom: 130px;
     }

      .breaking_news_link{
      padding-bottom: 12px;
      position: relative;
     }

      .breaking_news-link:nth-child(4n) {
        margin-right: 0;
       }
       

       .breaking_news_date{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 20px;
        background-color: #203e38;
        color: #ffffff;
        }
        
        .breaking_news_link:hover .breaking_news_date {
         background-color:#18CFAB;
        }

        .breaking_news_link:hover .news_title {
            color:#18CFAB;
           }
        
           
       .breaking_number{
        margin-top: 5px;
        margin-bottom: 5px;
       }

       .breaking_month{
        margin: 0;
       }

       .news_title{
       font-weight: 700;
       font-size: 17px;
       color: #717171;
       margin-left: 38px;
       margin-bottom: 9px;
       font-style: normal;
       line-height: 39px;
       }

       .news-author{
        padding-right: 32px;
       }

       .news-author:after{
        content:"";
        width: 1px;
        height: 13px;
        background-color:#777777;
        position: absolute;
        left: 119px;
        bottom: 41px;
       }

       .news_info{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 13.991px;
        line-height: 39px;
        color: #777777;

       }

           /* .........................people section..................
            */
    .people_menu_page{

                background-image: url(../img/Sections-background/section-3.jpg); 
                background-repeat: no-repeat;
                background-size: cover;
                list-style-type: none;
                padding-top: 100px;
                padding-bottom: 100px;

            
            }

    .title_people{
        color: #FFFFFF;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        padding-top: 98px;
        padding-bottom: 168px;
        margin-bottom: 0px;
    }
        
        .title_people::after{
            content:"";
            width: 40px;
            height: 1px;
            background: #18CFAB;
            position: relative;
            left: -24px;
            bottom: -14px;
            
            }
            
        .title_people::before{
            content:"";
            width: 40px;
            height: 1px;
            background: #18CFAB;
            position: relative;
            top: 60px;
            left: -13px;
           
            }
                  
        

           .people_menu_page{
            position: relative;
            
           } 

           

        .people_text_content{
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        color: #BBBBBB;
        }

        .people_kavichki{
            width: 47px;
            height: 33px;
            position: relative;
            right: -540px;
            position: relative;
            right: -540px;
}

    

        
        .people_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    margin-bottom: 19px;
}
.people_proffesion{
    color:  #BBBBBB;;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
        

  .swiper_wrapper{
    display: flex;
    gap: 30px;
  }
  
  .swiper_wrapper.active {
    position: relative;
    background: #18CFAB;
    }

    .swiper_wrapper.active::before {
        content: "";
        background-image: url("/img/Rectangle\ 67.png");
        color:#18CFAB; 
        
        position: absolute;    
      }
      .swiper_wrapper.active::after {
        content: "";
        background-image: url("/img");
        color:#18CFAB; 
        
        position: absolute;    
      }
      .button_load{
        border: none;
        cursor: pointer;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
padding-bottom: 100px;        
        text-align: center;
        font-size: 18px;
    
        display: flex;
        justify-content: center;
        align-items: center;
       
      }
  
      .swiper-slide img {
        display: block;
        width: 143px;
        height: 143px;
        object-fit: cover;
      }
    .swiper-pagination{
   
    }
    .swiper-pagination-bullet.custom-bullet{
        width: 80px;
        height: 80px;
        margin-right: 10px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: none;
      }
  
      
      .swiper-slide img{
        margin: 0 auto;
      }

.swiper-button-next,
.swiper-button-prev {
  width: auto !important;
  height: auto !important;
  top: 83% !important;
  z-index: 11 !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
background: #18CFAB;
}
.swiper-button-next:after, .swiper-button-prev:after {

    border: 1px solid;
    width: auto;
    height: auto;
    color: #BBBBBB;
    font-size: 16px !important;
    padding: 8px 10px;
}
.swiper-button-prev{
    left: 25% !important;

}
.swiper-button-next{
    right: 25% !important;

}
.swiper-pagination-bullet-active img{
    margin-bottom: 20px ;
}

.footer{
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color: #22353F;
    color: #AEAEAE ;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    font-weight: 300;
    font-size: 14px;
}

.name_project{
    color: #00CBF6;
}